html,body,header,#intro{
	height: 100%;
}
#intro
{
	background: url(../img/photo.jpeg) no-repeat center center fixed;
}
.navbar-brand img{
	max-height: 50px;
	max-width: 50px;
}
.top-nav-collapse{
	background-color: #24355c;
}
@media (max-width: 768px) {
	.navbar:not(.top-nav-collapse)
	{
		background: #24355c;
	}
}
.contact-section .contact {
    background-color: #103f6d;
}
.btn-primary
{
	width: 25%;
}
#separate{
	width: 60px;
}
#slider,.wrap,.slide-content {
	 margin:0;
	 padding:0;
	 font-family:Arial,Helvetica,sans-serif;
	 width:100%;
	 height:80vh;
	 overflow-x:hidden;
 }
 .wrap{
 position:relative;
 }
 .slide{
	 background-size:cover;
	 background-position:center;
	 background-repeat:no-repeat;
 }
 .slide1{
	background-image:url("../img/slide1.jpg");
 }
 .slide2{
	background-image:url("../img/slide2.jpg");
 }
 .slide3{
	background-image:url("../img/slide3.jpg");
 }
 .slide-content{
	 display:flex;
	 flex-direction:column;
	 justify-content:center;
	 align-items:center;
	 text-align:center;
 }
 
 .slide-content span{
	font-size:5rem;
	color:black;
	background: #999999;
	padding:20px;
	opacity:0.75;
 }
 
 .arrow{
	text-align: center;
    cursor: pointer;
    position: absolute;
    display: block;
    top: 50%;
    font-size: 50px;
    margin: -25px auto;
    color:black;
    z-index: 100;
 }

 #arrow-left{
	left:0;
	margin-left:30px;
 }
 #arrow-right{	
	right:0;
	margin-right:30px;
 }
 #arrow-left:hover,#arrow-right:hover{
 	color:#d9d9d9;
 }
